.article-content {
  font-size: 1.5rem;
}

.article-content p {
  font-size: 1.8rem;
}

.article-content * {
  margin-bottom: 2rem;
}

.article-content a {
  text-decoration: underline;
}

.article-content a:visited {
  text-decoration: inherit;
}
